$primary: #1d1d1d;
$secondary: #1976d2;
$accent: #26a69a;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$back-1: rgb(246, 248, 250);
$green-1: rgb(235, 237, 240);
$green-2: rgb(155, 233, 168);
$green-3: rgb(64, 196, 99);
$green-4: rgb(48, 161, 78);
$green-5: rgb(33, 110, 57);
$green-6: #161b22;
$green-7: #0e4429;
$green-8: #006d32;
$green-9: #26a641;
$green-10: #39d353;

$grey-1: #8b949e;
$grey-2: #f0f6fc;
$grey-3: #f0f6fc;
