$primary: #1d1d1d;
$secondary: #1976d2;
$accent: #26a69a;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$green-1: #161b22;
$green-2: #0e4429;
$green-3: #006d32;
$green-4: #26a641;
$green-5: #39d353;

$grey-1: #8b949e;
$grey-2: #f0f6fc;
$grey-3: #f0f6fc;
